
/* подключение шрифтов */

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Bold.eot');
    src: local('Euclid Circular A Bold'), local('EuclidCircularA-Bold'),
        url('../fonts/euclid/EuclidCircularA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Bold.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Bold.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Light.eot');
    src: local('Euclid Circular A Light'), local('EuclidCircularA-Light'),
        url('../fonts/euclid/EuclidCircularA-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Light.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Light.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-BoldItalic.eot');
    src: local('Euclid Circular A Bold Italic'), local('EuclidCircularA-BoldItalic'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-LightItalic.eot');
    src: local('Euclid Circular A Light Italic'), local('EuclidCircularA-LightItalic'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Regular.eot');
    src: local('Euclid Circular A Regular'), local('EuclidCircularA-Regular'),
        url('../fonts/euclid/EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Regular.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Regular.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-SemiBold.eot');
    src: local('Euclid Circular A SemiBold'), local('EuclidCircularA-SemiBold'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Medium.eot');
    src: local('Euclid Circular A Medium'), local('EuclidCircularA-Medium'),
        url('../fonts/euclid/EuclidCircularA-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Medium.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Medium.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Italic.eot');
    src: local('Euclid Circular A Italic'), local('EuclidCircularA-Italic'),
        url('../fonts/euclid/EuclidCircularA-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Italic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Italic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.eot');
    src: local('Euclid Circular A SemiBold Italic'), local('EuclidCircularA-SemiBoldItalic'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-MediumItalic.eot');
    src: local('Euclid Circular A Medium Italic'), local('EuclidCircularA-MediumItalic'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }


* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 20px 15px;
    font-family: 'Euclid Circular A';
}
p {
    font-family: 'Euclid Circular A';
    font-size: 16px;

}
section {
    margin-top: 50px;
}
.holidays-wrapper {
    /* MAIN IMAGE WRAPPER */
    max-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    .main-image-wrapper {
        width: 100%;
        position: relative;
        img {
            height: 100%;
            width: 100%;
        }
        #mainImgTable {
            display: none;
        }
        .blur-div {
            width: 64%;
            position: absolute;
            height: 99.3%;
            top: 0;
            backdrop-filter: blur(14px);
            display: flex;
            justify-content: center;
            align-items: center;
           
            div {
                height: 80%;
                width: 70%;
                display: flex;
                flex-shrink: 1;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                font-family: 'Euclid Circular A';
                color: white;

                h1 {
                    font-size: 70px;
                    text-transform: uppercase;
                    font-weight: 600;
                }
                p {
                    width: 70%;
                    margin-top: 5px;
                }
                a {
                    background-color: white;
                    max-width: 244px;
                    color:#008BB2;
                    cursor: pointer;
                    margin-top: 15px;
                }
                @media screen and (max-width:1150px) {
                    h1 {
                        font-size: 60px;
                    }
                }
                @media screen and (max-width:994px) {
                    h1 {
                        font-size: 50px;
                    }
                }
                @media screen and (max-width:800px) {
                    h1 {
                        font-size: 40px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
                @media screen and (max-width:640px) {
                    h1 {
                        font-size: 35px;
                    }
                    p {
                        font-size: 14px;
                        width: 80%;
                    }
                }
                @media screen and (max-width:560px) {
                    h1 {
                        font-size: 28px;
                    }
                    p {
                        width: 90%;
                        
                    }
                }
                @media screen and (max-width:560px) {
                    h1 {
                        font-size: 24px;
                    }
                    a {
                        padding: 15px 20px;
                        text-align: center;
                    }
                }
                @media screen and (max-width:560px) {
                    h1 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 13px;
                    }
                    a {
                        padding: 10px 15px;
                        text-align: center;
                    }
                }
                @media screen and (max-width:560px) {
                    h1 {
                        font-size: 17px;
                    }
                }
          
            }
        }
    }
    @media screen and (max-width:640px) {
        .main-image-wrapper {
            height: 100vh;
        }
        #mainImgPc {
            display: none;
        }
        #mainImgTable {
            display: block !important; 
        }
    }

    /* EVENTS SECTION */
    #events {
        width: 80%;
        font-family: 'Euclid Circular A';
        .header-wrapper {
            width: 100%;
            position: relative;
            .header-text {
                text-transform: uppercase;
                background: linear-gradient(180deg, #00DBFF -37.95%, #00C2E2 24.04%, #00B4D1 50.21%, #00A5C0 76.38%, #006476 125.15%, #005F6F 151.33%, #009BB4 179.88%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font-size: 40px;
                text-align: center;
                font-weight: 600;
                vertical-align: middle;

              
            }
            div {
                display: inline-flex;
                flex-direction: column;
                font-size: 16px;
                vertical-align: middle;

                text-transform: uppercase;
                background: linear-gradient(180deg, #00DBFF -37.95%, #00C2E2 24.04%, #00B4D1 50.21%, #00A5C0 76.38%, #006476 125.15%, #005F6F 151.33%, #009BB4 179.88%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                margin-right: 10px;
                
                font-weight: 400;
                
            }
               
            
        }

        .info-text {
            text-align: start;
            width: 70%;
            float: right;
            margin-top: 20px;
        }
        @media screen  and (max-width:640px){
            .info-text {
                width: 100%;
            }
            .images-wrapper {
                display: none !important;
            }
            .advantages-wrapper {
                flex-direction: column;
                span {
                    width: 100% !important;
                }
                div {
                    width: 100% !important;
                }
            }
            .swiper {
                width: 600px;
                height: 300px;
              }
        }
        
        .images-wrapper {
            width: 100%;
            display: flex;
            padding-top: 20px;
            
           #img1 {
            width: 40%;
            max-height: 270px;
            max-width: 386px;
            margin: 5px;
           }
           #img2 {
            width: 60%;
            margin: 5px;
            max-width: 794px;
            max-height: 500px;

           }
        }
        .advantages-wrapper {
            width: 100%;
            margin-top: 10px;
            display: flex;

            span {
                color: #00C2E2;
                font-size: 26px;
                width: 40%;
                margin: 5px;
            }
         
            div {
                margin: 5px;
                width: 60%;
                display: flex;
                div {
                    width: 50%;
                    ul {
                        list-style: none;
                       li {
                        display: flex;
                        margin-bottom: 10px;
                        svg {
                            min-width: 30px;
                            margin-right: 10px;
                            width: 30px !important;
                            height: 30px !important;
                        }
                        p {
                            font-size: 14px;
                        }
                       }
                    }
                }
            }
        }

    }
}

