@font-face {
    font-family: 'Fractul Hairline';
    src: url('../fonts/fractul/Fractul-HairlineItalic.eot');
    src: local('Fractul Hairline Italic'), local('Fractul-HairlineItalic'),
        url('../fonts/fractul/Fractul-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-HairlineItalic.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-HairlineItalic.woff') format('woff'),
        url('../fonts/fractul/Fractul-HairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-Italic.eot');
    src: local('Fractul Italic'), local('Fractul-Italic'),
        url('../fonts/fractul/Fractul-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-Italic.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-Italic.woff') format('woff'),
        url('../fonts/fractul/Fractul-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-Bold.eot');
    src: local('Fractul Bold'), local('Fractul-Bold'),
        url('../fonts/fractul/Fractul-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-Bold.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-Bold.woff') format('woff'),
        url('../fonts/fractul/Fractul-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-BlackItalic.eot');
    src: local('Fractul Black Italic'), local('Fractul-BlackItalic'),
        url('../fonts/fractul/Fractul-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-BlackItalic.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-BlackItalic.woff') format('woff'),
        url('../fonts/fractul/Fractul-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul Hairline';
    src: url('../fonts/fractul/Fractul-Hairline.eot');
    src: local('Fractul Hairline'), local('Fractul-Hairline'),
        url('../fonts/fractul/Fractul-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-Hairline.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-Hairline.woff') format('woff'),
        url('../fonts/fractul/Fractul-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-Light.eot');
    src: local('Fractul Light'), local('Fractul-Light'),
        url('../fonts/fractul/Fractul-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-Light.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-Light.woff') format('woff'),
        url('../fonts/fractul/Fractul-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-ExtraBold.eot');
    src: local('Fractul ExtraBold'), local('Fractul-ExtraBold'),
        url('../fonts/fractul/Fractul-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-ExtraBold.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-ExtraBold.woff') format('woff'),
        url('../fonts/fractul/Fractul-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-BoldItalic.eot');
    src: local('Fractul Bold Italic'), local('Fractul-BoldItalic'),
        url('../fonts/fractul/Fractul-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-BoldItalic.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-BoldItalic.woff') format('woff'),
        url('../fonts/fractul/Fractul-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-LightItalic.eot');
    src: local('Fractul Light Italic'), local('Fractul-LightItalic'),
        url('../fonts/fractul/Fractul-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-LightItalic.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-LightItalic.woff') format('woff'),
        url('../fonts/fractul/Fractul-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-Thin.eot');
    src: local('Fractul Thin'), local('Fractul-Thin'),
        url('../fonts/fractul/Fractul-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-Thin.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-Thin.woff') format('woff'),
        url('../fonts/fractul/Fractul-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-SemiBoldItalic.eot');
    src: local('Fractul SemiBold Italic'), local('Fractul-SemiBoldItalic'),
        url('../fonts/fractul/Fractul-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-SemiBoldItalic.woff') format('woff'),
        url('../fonts/fractul/Fractul-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-MediumItalic.eot');
    src: local('Fractul Medium Italic'), local('Fractul-MediumItalic'),
        url('../fonts/fractul/Fractul-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-MediumItalic.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-MediumItalic.woff') format('woff'),
        url('../fonts/fractul/Fractul-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-Regular.eot');
    src: local('Fractul Regular'), local('Fractul-Regular'),
        url('../fonts/fractul/Fractul-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-Regular.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-Regular.woff') format('woff'),
        url('../fonts/fractul/Fractul-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-Black.eot');
    src: local('Fractul Black'), local('Fractul-Black'),
        url('../fonts/fractul/Fractul-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-Black.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-Black.woff') format('woff'),
        url('../fonts/fractul/Fractul-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-SemiBold.eot');
    src: local('Fractul SemiBold'), local('Fractul-SemiBold'),
        url('../fonts/fractul/Fractul-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-SemiBold.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-SemiBold.woff') format('woff'),
        url('../fonts/fractul/Fractul-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-ThinItalic.eot');
    src: local('Fractul Thin Italic'), local('Fractul-ThinItalic'),
        url('../fonts/fractul/Fractul-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-ThinItalic.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-ThinItalic.woff') format('woff'),
        url('../fonts/fractul/Fractul-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-ExtraBoldItalic.eot');
    src: local('Fractul ExtraBold Italic'), local('Fractul-ExtraBoldItalic'),
        url('../fonts/fractul/Fractul-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/fractul/Fractul-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('../fonts/fractul/Fractul-Medium.eot');
    src: local('Fractul Medium'), local('Fractul-Medium'),
        url('../fonts/fractul/Fractul-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fractul/Fractul-Medium.woff2') format('woff2'),
        url('../fonts/fractul/Fractul-Medium.woff') format('woff'),
        url('../fonts/fractul/Fractul-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Bold.eot');
    src: local('Euclid Circular A Bold'), local('EuclidCircularA-Bold'),
        url('../fonts/euclid/EuclidCircularA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Bold.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Bold.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Light.eot');
    src: local('Euclid Circular A Light'), local('EuclidCircularA-Light'),
        url('../fonts/euclid/EuclidCircularA-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Light.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Light.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-BoldItalic.eot');
    src: local('Euclid Circular A Bold Italic'), local('EuclidCircularA-BoldItalic'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-LightItalic.eot');
    src: local('Euclid Circular A Light Italic'), local('EuclidCircularA-LightItalic'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Regular.eot');
    src: local('Euclid Circular A Regular'), local('EuclidCircularA-Regular'),
        url('../fonts/euclid/EuclidCircularA-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Regular.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Regular.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-SemiBold.eot');
    src: local('Euclid Circular A SemiBold'), local('EuclidCircularA-SemiBold'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Medium.eot');
    src: local('Euclid Circular A Medium'), local('EuclidCircularA-Medium'),
        url('../fonts/euclid/EuclidCircularA-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Medium.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Medium.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-Italic.eot');
    src: local('Euclid Circular A Italic'), local('EuclidCircularA-Italic'),
        url('../fonts/euclid/EuclidCircularA-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-Italic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-Italic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.eot');
    src: local('Euclid Circular A SemiBold Italic'), local('EuclidCircularA-SemiBoldItalic'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('../fonts/euclid/EuclidCircularA-MediumItalic.eot');
    src: local('Euclid Circular A Medium Italic'), local('EuclidCircularA-MediumItalic'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.woff2') format('woff2'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.woff') format('woff'),
        url('../fonts/euclid/EuclidCircularA-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
*{
    margin: 0 !important;
    padding:0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

}
.services__div {
    display: flex;
    margin-top: 20px;
    width: 70%;
}


.left__div {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 60%;
}
.right__div {
    padding-top: 10px;
   
}
.right__div > p {
    border-left: 2px solid #00C2E2;
    padding-left: 25px;
    font-family: 'Euclid Circular A';
    font-style: italic;
}
.under__div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
.under__div > button {
    border-radius: 48px;
    border: 2px solid #00C2E2;
    color: #00C2E2;
    width: 289px;
    margin: 5px !important;
    height: 44px;
    cursor: pointer;
    transition: 0.5s;

    background-color: inherit;
}
.under__div > button:hover {
    background-color: #00C2E2;
    color: white;
    transition: 0.5s;
}
.servicesAndPrices__text {
    color:#00C2E2;
    font-size: 65px;
    font-weight: 600;
    font-family: 'Euclid Circular A';
    
}

/* FIRST SECTION STYLES */

#firstSection {
    margin-top: 25px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.line {
    background-color: #00C2E2;
    border-radius: 8px;
    height: 2px;
    margin-top: 10px;
    width: 80%;
}
.board__img {
    width: 100vw;
    
}
.wave__img {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.img__wrapper {
    position: relative;
}
.first__header {
    color:#00C2E2;
    font-size: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    font-weight: 600;
    align-items: center;
    font-family: 'Euclid Circular A';
}
.header__number {
    -webkit-text-stroke: 1px #00C2E2;
    color: white;
    margin-right: 40px !important;
}
.sup__h1 {
    
    background: -webkit-linear-gradient(#00caeb, #0192aa);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    justify-content: center;
    font-family: 'Euclid Circular A';
}
.body__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin-top: 20px !important;


}
.wrapperImages__div {
    display: flex;
    margin-top: 20px !important;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.wrapperImages__div > img {
    margin: 5px !important;
}
.smallLast__div {
    display: flex;
    flex-direction: column;
    width: 387px;
}
.body__text {
    font-family: 'Euclid Circular A';
    font-weight: 400;
    font-size: 26px;
    text-align: center;
}
.smallLast__div > p {
    font-family: 'Euclid Circular A';
    font-weight: 400;
    font-size: 16px;
    color: #00C2E2;
    font-style: italic;

    margin-top: 10px !important;
    text-align: center;
}
.info__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    flex-direction: column;
    margin-top: 20px !important;
    justify-content: space-between;
}
.info__wrapper > div > p {
    font-family: 'Euclid Circular A';
    font-size: 16px;
    font-weight: 400;
    width: 45%;
}
.infoBtns__wrapper {
    display: flex;
    justify-content: center;
    font-family: 'Euclid Circular A';
    margin-top: 15px !important;
}
.filled__btn {
    background-color: #00C2E2;
    border: 1px solid #00C2E2;
    border-radius: 50px;
    width: 200px;
    height: 55px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}
.filled__btn:hover {
    transition: 0.5s;
    background-color:#008BB2;
    border: 1px solid #008BB2;

}
.outlined__btn {
    background-color: white;
    color: #00C2E2;
    margin-left: 10px !important;
    border: 2px solid #00C2E2;
    border-radius: 50px;
    width: 200px;
    height: 55px;
    cursor: pointer;
    transition: 0.5s;
}
.outlined__btn:hover {
    transition: 0.5s;
    background-color:#00C2E2;
    border: 2px solid #00C2E2;
    color: white;

}
.body__subText {
    size: 16px;
    margin-top: 10px !important;
    font-family: 'Euclid Circular A';
    width: 400px;
}
@media screen and (max-width:780px) {
    .first__header {
        font-size: 65px;
    }
}

/* SECOND SECTION */
#giftSection {
    margin-top: 25px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* REND SECTION */
#rentSection {
    margin-top: 25px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.steps__wrapper {
    display: flex;
    width: 100%;
    margin-top: 15px !important;
}

.steps__wrapper > .step__item {
    display: flex;
    height: 130px;
    width: 19%;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Euclid Circular A';
    padding-left: 10px !important;
    border-left: 2px solid  #00caeb;
}
.steps__wrapper > .step__item > span {
    font-weight: 900;
}

.rentImages__wrapper {
    display: flex;
    margin-top: 20px !important;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.rentInfo__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    flex-direction: column;
    margin-top: 20px !important;
    justify-content: space-between;
}

.info__wrapper > div > p {
    font-family: 'Euclid Circular A';
    font-size: 16px;
    font-weight: 400;
    width: 45%;
}